<% include partials/header %>

<h1>Welcome to your camp ground portal for all the bay area</h1>

<p>On this page you will find info on the best camp areas in the bay area</p>
<p>This page will update with better and better campgrounds as the modirator discovers them</p>
<a href='/campgrounds'>View All the Campgrounds Available</a>

<% include partials/footer %>