<% include partials/header %>

<h1><%= campground.name %>:</h1>
<img src='<%= campground.image %>'>
<h2>About this campground:</h2>
<ul>
    <li><%= campground.description %></li>
</ul>
<% include partials/footer %>